/* Typography */

html {
	font-family: 'Roboto', sans-serif;
}

@media screen and (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media screen and (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media screen and (min-width: 992px) {
	html {
		font-size: 18px;
	}
	
}

@media screen and (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

@media screen and (min-width: 2000px) {
	html {
		font-size: 26px;
	}
}

@media screen and (min-width: 2600px) {
	html {
		font-size: 26px;
	}
}

.icons-social i {
	font-size: 3em;
}

/* Custom Styles */

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
}

main > .intro {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3.75em;
	font-weight: 600;
}

main > .tagline {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 100;
}

.icons-social i {
	padding: 10px;
}

.icons-social a.devto svg {
    margin-bottom: -.25rem;
    width: 2.7rem;
    height: 2.7rem;
    margin-left: 10px;
    margin-right: 10px;
}

.icons-social a#recurse-scout-eliana  svg {
    margin-bottom: -.25rem;
    width: 0.7rem;
    height: 0.7rem;
    margin-left: 10px;
    margin-right: 10px;
}