/* Typography */

html {
	font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
	#recurse-scout-eliana svg {
		width: 25;
		height: 33;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
	#recurse-scout-eliana svg {
		width: 50;
		height: 65;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
	#recurse-scout-eliana svg {
		width: 70;
		height: 91;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
	#recurse-scout-eliana svg {
		width: 95;
		height: 125;
	}
}

.icons-social i {
	font-size: 3em;
}

/* Custom Styles */

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
}

main > .intro {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3.75em;
	font-weight: 600;
}

main > .tagline {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 100;
}

.icons-social i {
	padding: 10px;
}

#recurse-scout-eliana svg {
	height: 80px;
	width: 50px;
}

.inline-svg {
	height: auto;
	width: auto;
}
