/* Theme */

main {
	background: #FAFAFA;
	color: #0277BD;
}

.icons-social a {
	color: #0277BD;
}

.icons-social a svg path{
	fill: #0277BD;
}

#recurse-scout-eliana svg g{
	fill: #0277BD;
}

#recurse-scout-eliana a:hover svg g{
	fill: #3fb4fb;
}

.icons-social a:hover {
	color: #3fb4fb;
}

.icons-social a:hover svg path{
	fill: #3fb4fb;
}

#devto-logo svg path{
	fill: #0277BD;
}

#devto-logo a:hover svg path{
	fill: #3fb4fb;
}